<div class="container">
  <div class="row">
    <%= render 'list', user: @user, book: @book2 %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
            <%= link_to user_path(@book1.user.id) do %>
              <%= image_tag @book1.user.get_profile_image(100,100) %><br><%= @book1.user.name %>
            <% end %>
            </td>
            <td><%= link_to "#{@book1.title}",book_path(@book1.id) %></td>
            <td><%= @book1.body %></td>
            <% if @book1.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book1.id), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book1), method: :delete, "data-confirm"=> "本当に消しますか？", class:"btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>